@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variable.css";

/*Components*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/friends-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen.css";
@import "components/no-mobile.css";

/*Screens*/
@import "screens/login.css";
@import "screens/friends-subheader.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

body:not(#login) {
  color: #2e363e;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  overflow: auto;
  background-image: url(https://mblogthumb-phinf.pstatic.net/20150605_121/derod1023_1433435616944O7wYM_JPEG/cl01-006.jpg?type=w2);
  background-repeat: no-repeat;
  background-size: cover;
}

#login {
  height: 80vh;
}

#login::before {
  content: "";
  background-image: url(https://cdn-store.leagueoflegends.co.kr/uploads/thumb_b88103986fc8404b86ff1ddead8f2b5d.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  position: absolute;
}
