@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variable.css";

/*Components*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/friends-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen.css";
@import "components/no-mobile.css";

/*Screens*/
@import "screens/login.css";
@import "screens/friends-subheader.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

body {
  color: #2e363e;
  font-family: "Open Sans", sans-serif;
  overflow: auto;
}

#login {
  height: 80vh;
}

#login::before {
  content: "";
  background-image: url(https://cdn-store.leagueoflegends.co.kr/uploads/thumb_b88103986fc8404b86ff1ddead8f2b5d.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  position: absolute;
}

#friends {
  height: 90vh;
}

#friends::before {
  content: "";
  background-image: url(https://i.imgur.com/u2lxhgl.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  position: absolute;
}

#chats {
  height: 100vh;
}

#chats::before {
  content: "";
  background-image: url(https://www.kukinews.com/data/kuk/image/2021/11/07/kuk202111070009.500x.0.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  position: absolute;
}

#find {
  height: 100vh;
}

#find::before {
  content: "";
  background-image: url(https://t1.daumcdn.net/cfile/tistory/27051D37589B34C803);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  position: absolute;
}

#more {
  height: 90vh;
}

#more::before {
  content: "";
  background-image: url(https://mblogthumb-phinf.pstatic.net/MjAxODAxMjFfMTMy/MDAxNTE2NTQyOTA0Mzk3.sodrPAj7QOabX0S6tKObbbAGo9xXkX3QiauDEU0ShTgg.olNXD3GdYDF3JH9C36dnI1NUuuJdcfv61uBTCVR2c1Eg.JPEG.knicjin/20180121-010.jpg?type=w800);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  position: absolute;
}

#settings {
  height: 90vh;
}

#settings::before {
  content: "";
  background-image: url(https://t1.daumcdn.net/cfile/tistory/9968AA3A5BACE4751C);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  position: absolute;
}

.riven::before {
  content: "";
  background: url(https://blog.kakaocdn.net/dn/QZokl/btq8iwquWEM/6G39QGZJeIMAPIkINd0Sn0/img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.jayce::before {
  content: "";
  background: url(https://lol-skin.weblog.vc/img/wallpaper/loading/Jayce_5.jpg?1638896335);
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.vi::before {
  content: "";
  background: url(https://w.namu.la/s/1ee959cb3a62d7c2e20bb2219bfd50f2303853014860c7407bf4a70317b926b21d69cfbd98d7b79cbe0f63678a1da7a670ca4a6f4cfb9549012319e640c15a85e3bae5ba365b5f70637537bf253078f8905fc64054ed5bf98ed7b91a9217f449);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.caitlyn::before {
  content: "";
  background: url(https://p4.wallpaperbetter.com/wallpaper/704/132/878/vertical-portrait-display-wallpaper-preview.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}
