@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;600&display=swap");
@import "reset.css";
@import "variable.css";

/*Components*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/friends-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen.css";
@import "components/no-mobile.css";

/*Screens*/
@import "screens/login.css";
@import "screens/friends-subheader.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

body:not(#login) {
  color: #2e363e;
  font-family: "Advent Pro", sans-serif;
  height: 105vh;
  overflow: auto;
  background-image: url(https://mblogthumb-phinf.pstatic.net/MjAxOTExMjlfMTcg/MDAxNTc1MDE4MDA1MjEy.T5h4NNrioZFrg8LwxIoLqKeZzp0uWk8C_lJeQNXcGrcg.CPtRX-S_OFctDjulTvJ3klH9LenFwd8G5cJU45tNKkcg.PNG.jinmichu/15.png?type=w800);
  background-repeat: no-repeat;
  background-size: cover;
}

#login {
  height: 80vh;
}

#login::before {
  content: "";
  background-image: url(https://cdn-store.leagueoflegends.co.kr/uploads/thumb_b88103986fc8404b86ff1ddead8f2b5d.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  position: absolute;
}
