#chat-screen {
  background-color: #abc1d1;
  height: 85vh;
}
#chat-screen .alt-header,
#chat-screen .status-bar {
  top: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  color: white;
}
#chat-screen .alt-header {
  z-index: 1;
}

#chat-screen .status-bar {
  z-index: 2;
}

.riven::before {
  content: "";
  background: url(https://blog.kakaocdn.net/dn/QZokl/btq8iwquWEM/6G39QGZJeIMAPIkINd0Sn0/img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.jayce::before {
  content: "";
  background: url(https://lol-skin.weblog.vc/img/wallpaper/loading/Jayce_5.jpg?1638896335);
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.vi::before {
  content: "";
  background: url(https://w.namu.la/s/1ee959cb3a62d7c2e20bb2219bfd50f2303853014860c7407bf4a70317b926b21d69cfbd98d7b79cbe0f63678a1da7a670ca4a6f4cfb9549012319e640c15a85e3bae5ba365b5f70637537bf253078f8905fc64054ed5bf98ed7b91a9217f449);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.caitlyn::before {
  content: "";
  background: url(https://p4.wallpaperbetter.com/wallpaper/704/132/878/vertical-portrait-display-wallpaper-preview.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.main-chat {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat__timestamp {
  font-size: 14px;
  border-radius: 40px;
  background-color: #92a4b2;
  color: white;
  padding: 8px 15px;
  margin-bottom: 25px;
}
.chat__timestamp-second {
  font-size: 14px;
  border-radius: 40px;
  padding: 8px 15px;
  background-color: #92a4b2;
  color: white;
  margin-top: 30px;
}

.message-row {
  width: 100%;
  display: flex;
}

.main-chat .message-row:nth-child(2) {
  animation: fade-in-right 1s linear;
}

.main-chat .message-row:last-child {
  animation: fade-in-right 3s linear;
}
@keyframes fade-in-right {
  from {
    transform: translateX(-80px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.message-row img {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  margin-right: 15px;
}
.message__author {
  opacity: 0.8;
  font-size: 15px;
}
.message__info {
  margin-top: 20px;
  display: flex;
  align-items: flex-end;
}
.message__info > span > img {
  width: 100px;
  height: 100px;
}
.message__bubble {
  background-color: white;
  font-size: 18px;
  padding: 8px 13px;
  border-radius: 15px;
  border-top-left-radius: 0px;
}
.message__time {
  font-size: 13px;
  opacity: 0.5;
  margin-left: 10px;
}
.message-rel {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  box-sizing: border-box;
  margin-right: 14px;
  animation: fade-in-left 1.5s linear;
}

@keyframes fade-in-left {
  from {
    transform: translateX(60px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.message__rel-bubble {
  background-color: yellow;
  border-radius: 15px;
  padding: 8px 13px;
  font-size: 18px;
  border-top-right-radius: 0px;
}
.message__rel-time {
  font-size: 13px;
  opacity: 0.5;
  margin-right: 10px;
}
.reply {
  background-color: white;
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
  padding: 10px 25px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.reply i:not(button > i) {
  opacity: 0.5;
}
.reply__column:first-child i {
  border-radius: 10px;
  opacity: 0.5;
  width: 10%;
}
.reply__column:last-child {
  display: flex;
  align-items: center;
  width: 90%;
  position: relative;
}
.reply input {
  padding: 15px;
  border: none;
  width: 100%;
  border: var(--main-border);
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 6px;
  top: 7px;
}
.reply__column:last-child > i {
  right: 45px;
  top: 13px;
}
button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: yellow;
  border: none;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}
.reply__column:nth-child(2) > i {
  font-size: 23px;
}
.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  opacity: 0;
}
.reply:focus-within input {
  transform: translateX(-6%) translateY(-80px);
  width: 100vw;
}
.reply:focus-within {
  transform: translateY(80px);
}
