#friends-subheader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(175, 175, 175, 0.35);
  padding: var(--horizontal-space);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
#friends-subheader i {
  color: var(--text-color);
  margin: 0px 5px;
}

.friends__screen {
  padding: 0px var(--horizontal-space);
  z-index: -1;
}
