.friends-header {
  display: flex;
  padding: 40px 20px 20px;
  justify-content: space-between;
  align-items: center;
}

.friends-header_title {
  font-size: 32px;
  font-weight: 600;
  margin:10px 0px;
}

.friends-header_icons span {
  margin-left: 20px;
}
.friends-screen__channel {
  margin-top: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 15px;
}
.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}
